@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: column;
}

.element img {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    border: 2px solid blue;
}

img {
    max-width: 400px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.footer {
    font-size: 16px;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header,
.footer,
.main {
    background-color: #1f2937;
    color: #f9faf8;

}

.main {
    display: flex;
    padding: 16px;
    justify-content: space-around;
}

.main-image {
}

.main .subtext {
    color: #e5e7eb;
    font-size: 18px;
    width: 50%;
}

.hero {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    width: 50%;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}

.info {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 32px;
}

.element {

}

.quotation {
    background-color: #e5e7eb;
    padding: 128px 32px;
    margin: 32px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 50%;
}

.quotation .author {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;

}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

li {
    padding: 0px 8px;
}